<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="SpringAspect" class="com.ai.spring.aop.schema.advice.SpringAspect"></bean>
	
	<bean id="aspectBiz" class="com.ai.spring.aop.schema.advice.biz.AspectBiz"></bean>
	
	<aop:config>
		<aop:aspect id="SpringAspectAOP" ref="SpringAspect">
 			<aop:pointcut expression="execution(* com.ai.spring.aop.schema.advice.biz.*Biz.*(..))" id="SpringPointcut"/>
 			<aop:before method="before" pointcut-ref="SpringPointcut"/>
<!-- 			<aop:after-returning method="afterReturning" pointcut-ref="SpringPointcut"/> -->
<!-- 			<aop:after-throwing method="afterThrowing" pointcut-ref="SpringPointcut"/> -->
<!-- 			<aop:after method="after" pointcut-ref="SpringPointcut"/> -->
<!-- 			<aop:around method="around" pointcut-ref="SpringPointcut"/> -->
			
<!-- 			<aop:around method="aroundInit" pointcut="execution(* com.ai.spring.aop.schema.advice.biz.AspectBiz.init(String, int))  -->
<!-- 							and args(bizName, times)"/> -->

				<aop:declare-parents types-matching="com.ai.spring.aop.schema.advice.biz.*(+)"
							implement-interface="com.ai.spring.aop.schema.advice.Fit"
							default-impl="com.ai.spring.aop.schema.advice.FitImpl"/>
		</aop:aspect>
	</aop:config>

 </beans>
